
body {
    font-family: Arial, sans-serif;
    background-color: #f0f9f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4caf50;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#noTasksMessage {
    text-align: center;
    font-size: 18px;
    color: #d9534f;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e8f5e9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.text-color {
    color: #fff;
}

.ml-2 {
    margin-left: 10px;
}

.line-through {
    text-decoration: line-through;
}
